$color-primary: #1b4965;
$color-secondary: #cae9ff;
$text-light: #f2f4f3;
$text-dark: #1b2021;

@mixin align-page-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
