@import "./base";
footer {
  height: 10vh;
  background-color: $color-primary;
  color: $text-light;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 5px;
}
