@use "base";
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 10px;
  height: 10vh;
  background-color: base.$color-primary;
  color: base.$text-light;
  span {
    color: base.$text-light;
  }
}
